<!DOCTYPE html>
{% load static %} {% include "./layout/navbar.html" %} {% block body %}
<div class="jumbotron container" style="margin-top: 100px;">
  <h3 style="text-align: center; color:black;font-size:40px;">
    Add a new product
  </h3>
  <br />
  <form
    action="/products/add_product/"
    method="post"
    style="text-align: center;color:black;font-size:18px;"
  >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br />
  <br />
  {% if show %}
  <div class="alert alert-success" role="alert">
    {{ addmore }}
  </div>
  {% else %} {% endif %}
</div>
{% endblock body %}
